@page "/piano"
@using ToetsMeHarder.Business

<div class="menu">
    <button class="KeyModeButton" @onclick="ChangeKeyModus"><b>Keymode: <i>@_keyModus</i></b></button>
</div>
<ul class="set">
    @{
        foreach ((string key, double frequency) in _noteFrequencies)
        {
            <li id="@key" @onpointerdown="() => PlayNote(frequency)" @onpointerup="() => StopNote(key)" @onpointerleave="() => StopNote(key)" class="@CreateCSSClass(key)">
                <b>
                    @if (_keyModus == "Note")
                    {
                        <text>@key.ToUpper()</text>
                    }
                    else if (_keyModus == "Key")
                    {
                        <text>@_pianoKeys.FirstOrDefault(x => x.Value == key).Key.ToUpper()</text>
                    }
                </b>
            </li>
        }
    }
</ul>


<!--Click Simulation-->
<script>
    window.setKeyActive = (id) => {
        const el = document.getElementById(id);
        if (el) {
            el.classList.add("manual-active");
        }
    };

    window.setKeyInactive = (id) => {
        const el = document.getElementById(id);
        if (el) {
            el.classList.remove("manual-active");
        }
    };
</script>
