@using ToetsMeHarder.PianoGUI.Components.Layout
@page "/result"

<div>
    <p><strong>Titel:</strong> @resultManager.Result.SongTitle</p>
    <p><strong>Totaal noten:</strong> @resultManager.Result.TotalNotes</p>
    <p><strong>BPM:</strong> @resultManager.Result.BPM</p>
    <p><strong>Hits:</strong> @resultManager.Result.Hits</p>
    <p><strong>Misses:</strong> @resultManager.Result.Misses</p>
    <p><strong>Accuracy:</strong>@(resultManager.CalculateAccuracy())%</p
    
</div>

<button @onclick="() => FallingBlocks.Instance.Retry()">Opnieuw</button>





