@using ToetsMeHarder.PianoGUI.Components.Layout
@page "/result"

<div>
    <p><strong>Titel:</strong> @_result.SongTitle</p>
    <p><strong>Totaal noten:</strong> @_result.TotalNotes</p>
    <p><strong>BPM:</strong> @_result.BPM</p>
    <p><strong>Hits:</strong> @_result.Hits</p>
    <p><strong>Misses:</strong> @_result.Misses</p>
    <p><strong>Accuracy:</strong>@(CalculateAccuracy())%</p>
    
</div>


<button @onclick="() => FallingBlocks.Instance.Retry()">Opnieuw</button>





