@page "/result"
@using ToetsMeHarder.Business




@if (result is not null)
{
    <h3>Resultaat lied: @result.SongTitle</h3>
    <P>Speler: @result.Username</P>
    <p>Bpm: @result.Speed</p>
    <p>Nauwkeurigheid: @result.Accuracy%</p>
    <p>Score: @result.Total</p>
}
else
{
    <p>Resultaten ophalen mislukt</p>
    <p>Check of de verbinding goed is</p>
}
